.intro .avatar img {
    width: 200px;
}

.post-warp .post-content img {
    max-width: 100%;
}


.post-warp .post-title {
    padding-bottom: 0.5em !important;
}

.post-warp p {
    margin: 0em;
    margin-bottom: 1em;
}

.icon-xihuan:before { content: "〇"; }
.icon-love:before { content: "●"; }
